{% if handle == 'diamond' %}

    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'responsive.css' | asset_url | stylesheet_tag }}
    {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
    {{ 'custom_style.css' | asset_url | stylesheet_tag }}
    {{ 'ion.rangeSlider.css' | asset_url | stylesheet_tag }}
    {{ 'ion.rangeSlider.skinFlat.css' | asset_url | stylesheet_tag }}
    {{ 'ion.rangeSlider.skinNice.css' | asset_url | stylesheet_tag }}
    {{ 'jquery.dataTables.min.css' | asset_url | stylesheet_tag }}
    {{ 'manage_diamond.css' | asset_url | stylesheet_tag }}
    {{ 'diamond_inline.css' | asset_url | stylesheet_tag }}


    <!-- Bootstrap 5 CSS for a specific page -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"> -->

{% endif %}

  
<script src="https://code.jquery.com/jquery-3.3.1.min.js" defer="defer"></script> 

<script src="https://kit.fontawesome.com/d5b36ed05d.js" defer="defer" crossorigin="anonymous"></script>

<script src="{{ 'ion.rangeSlider.js' | asset_url }}"  defer="defer"></script>
<script src="{{ 'bootstrap.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'jquery.dataTables.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'manage_diamond.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'manage_diamond_ajax.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'diamond_page.js' | asset_url }}"  defer="defer"></script>
<!-- <script src="{{ 'addToCart.js' | asset_url }}" defer="defer"></script> -->

 <div class="loader-container" id="page-loader">
  <div class="loader-logo">
    <div class="loader-circle"></div>
  </div>
</div>
<h1>Check</h1>

<section class="dia-page diamond">
    <div class="filter-diamond-design">
      <div class="container-fluid">
         <div class="row">
            <div class="col-7">
               <div class="top-filter-btn">
                  <div class="btn-group">
                     <label for="" class="btn btn-primary active">
                        <input type="radio" name="DiamondType" id="" checked="checked" autocomplete="off" value="Natural Diamonds">
                        <span class="ico"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 792" xml:space="preserve"><path d="M301.015 433.458c-11.036-10.17-21.786-20.055-32.525-29.952a86359.413 86359.413 0 0 1-56.255-51.893c-22.742-21.003-45.48-42.012-68.214-63.023a38034.581 38034.581 0 0 0-74.354-68.428c-2.063-1.885-2.074-3.011-.45-5.144a22904.773 22904.773 0 0 0 57.902-76.796c7.444-9.886 14.935-19.748 22.26-29.716a6.767 6.767 0 0 1 6.128-3.141c97.194.079 194.35.079 291.466 0a6.197 6.197 0 0 1 5.583 2.727 39344.45 39344.45 0 0 0 67.812 90.272c4.314 5.737 8.593 11.498 13.038 17.152 1.387 1.766 1.186 2.833-.451 4.326a60653.244 60653.244 0 0 0-90.758 83.517A93369.494 93369.494 0 0 0 337.7 399.95a19116.577 19116.577 0 0 1-34.718 32.002c-.544.452-1.113.855-1.967 1.506zm-.462-33.484h1.185l88.898-173.967H212.473l88.08 173.967zm-32.833-21.988.853-.794c-.616-1.327-1.185-2.678-1.837-3.983-4.741-9.364-9.589-18.716-14.33-28.091a76011.778 76011.778 0 0 1-58.768-116.267 5.264 5.264 0 0 0-5.476-3.295c-26.765.083-53.517 0-80.281.06-1.186 0-2.489.201-4.86.415L267.72 377.986zm66.282-1.055.9.735 164.213-151.482a38.871 38.871 0 0 0-3.864-.498c-27.018 0-54.034-.02-81.052-.059a4.562 4.562 0 0 0-4.574 2.94 23690.354 23690.354 0 0 1-29.633 58.21 25852.235 25852.235 0 0 0-35.429 69.459c-3.58 6.898-7.064 13.821-10.562 20.743v-.048zm45.492-169.629-78.313-79.415-78.526 79.415h156.839zm22.295-6.222 30.582-77.401H325.385l76.404 77.401zm-200.162-1.186 75.587-76.345H176.107l25.52 76.345zm-16.725 7.396-26.8-80.126-60.32 80.126h87.12zm234.051.012h85.46l-56.088-74.484-29.372 74.484z"></path><path d="M564.733 288.499c7.858 15.999 14.595 32.402 18.896 49.614 3.761 15.089 6.175 30.527 8.981 45.852.505 2.807 0 5.805-.112 8.701-3.154-.674-6.5-.865-9.408-2.111-5.345-2.301-10.352-5.389-15.64-7.859-5.984-2.785-13.147 1.954-13.54 8.499-.326 5.333 1.526 9.903 3.997 14.405 4.21 7.668 4.108 7.858-1.763 14.202-1.74 1.864-3.29 3.896-5.311 6.321-1.348-1.808-2.964-3.256-3.66-5.053-2.471-6.31-7.691-8.824-13.563-10.744-6.736-2.246-16.033 4.289-14.405 11.07 1.785 7.455 5.188 14.595 8.421 21.601a5.613 5.613 0 0 0 8.174 2.448c3.503-2.246 6.073-1.19 9.104.314a46.926 46.926 0 0 0 4.952 1.684c2.48.898 3.985 2.178 2.593 5.198a61.428 61.428 0 0 0-3.368 8.769c-3.121 10.823-10.374 16.841-21.242 18.997a4.98 4.98 0 0 0-2.885 1.976 68.703 68.703 0 0 0-5.165 8.869c-4.76 10.341-8.285 21.029-9.229 32.56a22.28 22.28 0 0 1-3.021 8.746c-2.672 4.749-6.41 8.981-8.757 13.843-4.985 10.441-9.678 21.052-13.934 31.808-8.869 22.454-24.991 37.769-46.031 48.502-6.231 3.177-12.541 6.096-19.648 6.736-3.885.348-8.128-.472-9.588-3.762-2.604-5.86-5.276-12.35-5.378-18.559-.258-16.246.55-32.559 1.505-48.749a292.94 292.94 0 0 1 7.084-49.714 31.05 31.05 0 0 0-2.908-22.23c-2.357-4.491-4.39-9.105-6.894-13.473a217.074 217.074 0 0 0-11.8-19.086 9.687 9.687 0 0 0-7.331-3.503c-8.981.763-17.84 2.515-26.777 3.648-11.822 1.505-23.645 1.932-35.512-.078-3.772-.641-5.21-2.796-6.501-5.839a130.799 130.799 0 0 0-5.827-12.17c-.505-.909-2.638-1.853-3.48-1.493a66.343 66.343 0 0 0-7.713 4.49c2.931 6.209 5.49 12.261 8.578 18.043 3.087 5.782 8.724 6.871 14.596 8.442 11.081 2.964 22.129.932 33.12.854 8.858-.067 17.683-2.616 26.563-3.66a6.13 6.13 0 0 1 4.839 2.604c4.593 8.062 8.701 16.393 13.159 24.532 4.457 8.14 4.311 16.089.83 24.453a37.525 37.525 0 0 0-2.391 9.947c-1 8.544-1.942 17.099-2.426 25.677-1.033 18.469-1.942 36.96-2.537 55.451a48.445 48.445 0 0 0 7.208 26.497c3.548 5.961 13.933 10.362 20.209 9.284a76.221 76.221 0 0 0 27.552-9.857c9.992-6.163 20.209-11.99 28.271-20.838 12.743-14.045 20.063-31.133 27.17-48.355 2.492-6.04 5.165-12.024 8.241-17.784 2.178-4.075 5.423-7.578 7.69-11.62a22.534 22.534 0 0 0 2.684-8.409c1.122-10.554 3.132-20.86 7.96-30.381 1.886-3.717 3.885-7.118 8.757-8.735 9.566-3.188 16.841-9.375 19.828-19.704a74.882 74.882 0 0 1 5.153-12.417c3.693-7.398 3.154-11.07-2.863-16.729-.685-.651-1.572-2.066-1.303-2.594a84.397 84.397 0 0 1 5.737-10.104c2.077-3.031 4.771-5.613 6.95-8.601a7.857 7.857 0 0 0 .572-8.869c-2.245-4.491-4.053-9.341-6.276-14.596.821.18 1.626.432 2.403.752 7.241 4.177 14.685 7.859 23.206 8.556 3.245.28 3.021 2.694 2.92 4.873-.326 7.511-.651 15.021-1.123 22.521-.584 8.981-.438 18.166-2.179 26.945-2.952 14.843-7.027 29.461-10.879 44.112-3.963 15.123-10.688 29.191-17.672 43.057a279.488 279.488 0 0 1-40.822 59.887c-15.942 18.042-33.682 34.198-53.745 47.356a415.46 415.46 0 0 1-42.843 23.971c-10.801 5.366-22.298 9.476-33.683 13.473-7.264 2.503-14.966 3.851-22.533 5.423-10.644 2.245-21.332 5.321-32.042 5.883-13.687.719-27.339 3.11-41.238 1.044-13.338-1.976-26.946-2.369-40.306-3.985a125.21 125.21 0 0 1-19.973-4.3 568.277 568.277 0 0 1-31.65-10.251 178.602 178.602 0 0 1-21.399-8.981c-10.408-5.322-20.591-11.093-30.639-17.066-6.557-3.906-12.766-8.409-18.94-12.911-1.123-.797-2.189-3.581-1.695-4.222 3.492-4.49 7.376-8.701 11.228-12.934 1.987-2.245 4.637-4.02 6.051-6.534 3.042-5.423.337-10.609-1.92-15.516-1.785-3.885-2.807-7.747 0-11.228a37.01 37.01 0 0 1 8.735-7.972c7.534-4.671 15.471-8.689 23.151-13.147 8.061-4.682 8.78-12.147 2.133-18.536a6.523 6.523 0 0 1-1.863-4.232c0-14.663 4.098-28.293 10.958-41.148 4.491-8.397 3.301-17.492-3.907-23.802-8.847-7.758-19.906-10.924-30.785-14.304-4.21-1.302-8.746-1.526-13.113-2.391-2.627-.517-3.671-1.842-2.347-4.693 3.188-6.894 1.459-13.473-2.346-19.457-6.546-10.385-16.078-17.458-26.946-22.746a18.564 18.564 0 0 1-8.982-9.679c-4.378-9.655-9.869-18.502-17.806-25.699-5.288-4.805-12.822-6.736-18.121-3.918-7.376 3.907-12.877 9.61-15.089 17.964-1.123 4.356-1.897 8.858-3.492 13.046-2.156 5.681-5.434 10.969-7.298 16.729-1.796 5.535-3.604 11.52-3.312 17.2a216.061 216.061 0 0 0 4.244 31.279c1.583 7.859 4.816 15.235 12.788 19.087a21.326 21.326 0 0 1 10.352 10.688c1.662 3.581 3.368 7.141 4.715 10.856 1.853 5.243 3.469 10.587 4.929 15.954 2.829 10.464.673 20.983-.202 31.437-.303 3.705-1.976 7.309-3.368 12.024-1.617-2.122-2.335-2.919-2.897-3.817-3.94-6.759-8.106-13.327-12.002-20.063a258.982 258.982 0 0 1-22.915-52.095c-4.289-13.641-8.634-27.35-9.959-41.743-.943-10.194-2.133-20.366-2.953-30.561a6.66 6.66 0 0 1 1.875-4.592c8.375-8.398 16.033-17.346 19.884-28.765 2.357-6.994 3.424-14.258-.146-21.41-4.356-8.724-6.736-17.627-2.111-27.125 1.65-3.436 2.436-7.365 4.491-10.498 1.853-2.84 4.491-5.872 7.511-7.062 3.772-1.493 8.252-1.123 12.417-1.707 9.476-1.257 17.661-5.614 25.082-11.294 6.041-4.66 10.621-10.711 10.565-18.604a17.83 17.83 0 0 1 3.66-11.755c.55-.696 1.123-1.392 1.673-2.077l-8.679-8.027c-.359.505-.73 1.01-1.123 1.527-3.368 5.019-7.051 11.104-7.006 16.684.067 6.86-2.998 10.52-7.388 13.888-7.399 5.681-15.718 9.24-25.306 9.094-9.588-.146-16.527 4.917-21.119 13.147-1.83 3.268-3.368 6.737-4.974 10.105l-1.123-.348a13.236 13.236 0 0 1 .303-3.144c4.098-11.856 7.466-24.06 12.62-35.445 6.568-14.517 14.281-28.551 22.14-42.428 1.65-2.919 3.514-5.715 5.457-8.466l-8.432-7.792-4.57-4.21a293.248 293.248 0 0 0-43.023 91.357c-17.484 63.494-14.91 126.281 7.725 188.36C59.323 631.087 171.72 728.652 324.781 720.49c68.588-3.66 129.462-29.27 181.389-74.369 55.014-47.783 89.133-108.097 101.371-179.896 10.104-59.325 2.986-117.179-20.928-172.586a292.31 292.31 0 0 0-29.191-52.274l-13.079 12.058a287.065 287.065 0 0 1 20.39 35.076zm-26.946 143.664c-.965.214-2.728.27-2.975-.213-1.595-3.121-2.874-6.4-4.491-10.104 4.165.595 8.982 5.669 8.813 8.645a2.244 2.244 0 0 1-1.347 1.672zm-514.49-71.911c.887 2.874 1.953 4.693 1.908 6.478-.146 5.49 2.773 9.88 4.491 14.741.954 2.695.831 5.917.595 8.858-.741 9.072-6.837 15.337-12.271 22.151.977-17.176.258-34.354 5.277-52.228zm99.417 272.823c-.674.831-1.381 1.617-2.246 2.594a277.082 277.082 0 0 1-40.631-41.9 4.87 4.87 0 0 1-.842-5.815c5.996-14.359 8.915-29.606 6.961-44.909s-6.141-30.662-15.359-43.618c-3.121-4.39-7.926-7.78-12.474-10.879a15.043 15.043 0 0 1-6.152-9.274 120.278 120.278 0 0 1-3.761-34.883c.416-10.452 5.423-19.03 10.318-27.742a8.036 8.036 0 0 0 1.313-4.009c-.404-7.186 2.807-12.619 7.859-17.2 2.526-2.245 5.075-1.403 7.444.404 5.917 4.491 9.768 10.621 13.091 17.145 3.862 7.566 7.511 15.179 15.393 19.748a146.416 146.416 0 0 1 17.627 11.778 25.437 25.437 0 0 1 7.073 9.363c1.123 2.414.572 5.838-.056 8.622-1.74 7.612-.865 12.418 6.152 16.65 5.445 3.278 11.228 2.717 16.841 4.165 9.285 2.414 18.143 5.345 25.901 11.127 4.098 3.054 5.063 5.838 2.537 10.205a87.664 87.664 0 0 0-10.104 25.823c-2.01 9.464-4.188 19.086-.943 28.775.674 2.021 1.718 3.918 2.583 5.85-11.227 6.22-23.364 10.8-32.009 20.726-6.837 7.858-7.668 13.473-4.491 22.454.135.382.438.707.595 1.123 3.099 7.241 2.807 6.916-3.065 12.058-3.671 3.29-6.377 7.747-9.543 11.654l-.012-.035z"></path><path d="M488.646 323.168c.27 1.976-.213 4.064-.303 6.097-.112 2.548-1.123 3.783-3.907 3.222-3.593-.719-7.32-2.01-10.812-1.572a7.073 7.073 0 0 1-7.343-2.953l-1.123-1.415-8.511 7.859c4.346 5.131 8.758 10.318 16.92 7.803.449-.135 1.044.247 1.583.303 4.491.393 9.094 1.291 13.585.999 5.704-.37 8.982-4.435 10.498-9.622a29.988 29.988 0 0 0 .954-8.982c-.247-10.015-3.436-17.38-9.824-21.691l-8.981 8.263c4.389 1.529 6.365 5.11 7.264 11.689z"></path></svg></span> Earth Mined
                     </label>
                     <label for="" class="btn btn-primary">
                        <input type="radio" name="DiamondType" id="" checked="checked" autocomplete="off" value="Natural Diamonds">
                        <span class="ico"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 222 212" style="enable-background:new 0 0 222 212;width:47px" xml:space="preserve"><g> <path class="st0" d="M162,16.5c8.4,11.2,16.8,22.4,25.2,33.6c2.1,2.8,2.2,2.9-0.3,5.2c-14.1,13-28.2,26-42.3,39 c-9.3,8.6-18.5,17.2-27.8,25.7c-3.2,3-3.2,3-6.5,0c-22.7-20.9-45.4-41.8-68-62.8c-5.5-5.1-5.2-3.3-0.8-9.3 c7.8-10.5,15.7-21,23.6-31.5C97.4,16.5,129.7,16.5,162,16.5z M113.7,55.9c-8.6,0-17.3,0-25.9,0c-2,0-2.1,0.5-1.3,2.2 c8.6,16.9,17.2,33.8,25.8,50.7c0.3,0.7,0.4,1.8,1.4,1.8c0.9,0,1-1.1,1.4-1.8c8.6-16.8,17.2-33.6,25.8-50.4c1.1-2.2,1-2.4-1.4-2.4 C130.8,55.9,122.2,55.9,113.7,55.9z M50.4,55.9c17.3,16,34.2,31.5,51.2,47.3c0.1-1.4-0.5-2.1-0.9-2.8c-3-5.8-6-11.7-8.9-17.5 c-4.2-8.3-8.3-16.6-12.5-24.8c-0.5-1.1-1-2.1-2.5-2.1C68.2,55.9,59.7,55.9,50.4,55.9z M176.8,55.9c-8.8,0-16.9,0.1-25,0 c-2,0-3,0.7-3.9,2.4C141.5,71,135,83.8,128.5,96.5c-1,2-2.1,4.1-3.2,6.1c0.1,0.1,0.3,0.2,0.4,0.3C142.6,87.4,159.4,71.9,176.8,55.9 z M88.4,49.2c16.9,0,33.4,0,50.1,0c-8.1-8.2-16-16.1-23.9-24c-1.1-1.1-1.8-0.5-2.6,0.3c-3.2,3.2-6.3,6.3-9.5,9.5 C98,39.6,93.4,44.3,88.4,49.2z M122,23.1c0.1,0.2,0.1,0.5,0.3,0.6c7.5,7.4,15,14.8,22.5,22.3c1.2,1.2,1.5,0.3,1.9-0.7 c2.6-6.6,5.2-13.2,7.8-19.8c1-2.5,0.9-2.7-1.9-2.7c-9.6,0-19.2,0-28.8,0C123.2,22.8,122.6,22.6,122,23.1z M105.1,22.8 c-9.9,0-19.8,0-29.6,0c-2,0-1.5,1.2-1.1,2.3c2.2,6.5,4.4,13,6.5,19.5c0.5,1.7,1.1,1.9,2.3,0.6c3.3-3.4,6.8-6.7,10.1-10.2 C97.2,31.1,101.1,27,105.1,22.8z M62.1,49.4c3.8,0,7.5,0,11.3,0c1.6,0,2.2-0.4,1.6-2.1c-2.4-7-4.7-13.9-7-20.9 c-0.5-1.5-1.1-1.6-2-0.3c-5.4,7.2-10.8,14.3-16.1,21.5c-0.3,0.4-0.9,0.9-0.5,1.5c0.3,0.6,1,0.4,1.5,0.4 C54.6,49.5,58.4,49.4,62.1,49.4z M165.2,49.4c3.4,0,6.7,0,10.1,0c0.8,0,2,0.4,2.5-0.4c0.5-1-0.7-1.7-1.2-2.4 c-1.1-1.6-2.4-3.2-3.6-4.8c-3.5-4.7-7-9.3-10.5-14c-0.5-0.7-1.2-2.2-2-0.1c-2.6,6.5-5.1,13.1-7.8,19.6c-0.7,1.7-0.2,2.1,1.5,2.1 C157.9,49.4,161.6,49.4,165.2,49.4z"></path> <path class="st0" d="M19.5,83.2c0.7-2.5,0.3-5.1,0.4-7.6c0.1-2.7,0.2-5.4,0.9-8.1c0.3-1.4,0.9-2.7,2.5-3c1.4-0.3,2.4,0.8,3.2,1.7 c0.4,0.5,0.9,1,1.1,1.5c4.2,9.7,11.9,16.4,19.7,22.9c12.5,10.4,26.6,18,42,23.1c6.9,2.3,13.4,5.3,18.5,10.7 c5.9,6.4,8.6,14.3,10.2,22.6c1.4,7.4,1,14.8-1.1,22.1c-0.1,0.3-0.2,0.6-0.2,0.9c0,0.1,0.1,0.3,0.2,0.6c2.2-0.9,4.1-2.4,6-3.7 c8.2-5.2,16.5-10.2,24.4-15.7c10.9-7.7,19.5-17.7,27.1-28.6c0.9-1.3,1.8-2.6,2.8-3.9c0,0,0.1,0,0.8-0.2 c-4.6,8.5-9.5,16.3-15.1,23.7c-5.5,7.4-11.6,14.4-19.5,20.4c3.7,0.7,6.7-0.2,9.6-0.8c13.9-3.1,23-12.2,30-23.9 c7.2-12.1,10.9-25.3,12.1-39.3c0.4-4.6,0-9.3,0.9-13.9c0.1-0.7,0.4-1.6-0.4-2c-0.8-0.3-1.3,0.5-1.7,1.1c-5,7.8-12.7,12.4-20.4,17.1 c-9.3,5.8-19.1,10.3-29.3,14.1c-9.8,3.6-14.7,11.1-16.6,20.8c-1.3,6.7-1.2,13.5,0.5,20.2c0.3,1.3,1.1,3.5-0.2,3.9 c-1.6,0.5-2.1-1.7-2.6-3.1c-5-13.8-3.5-26.7,5.2-38.6c4.1-5.6,10.5-8,16.8-10.1c15.9-5.2,29.5-14,41.1-26c2.8-2.9,5.3-6.2,6.9-10 c0.3-0.7,0.8-1.4,1.4-1.9c1.7-1.6,3.1-1.3,4.1,0.9c0.3,0.7,0.5,1.5,0.6,2.3c1.1,15.8,1.1,31.7-2.8,47.2 c-3.7,14.8-11.4,27.1-23.9,35.9c-9.2,6.5-19.5,9.8-30.8,9.9c-4,0-7.7,0.4-11.4,2.6c-5,3-10.7,4.9-16.3,7c-3,1.1-6,2.1-9.8,2.7 c11.5,7.5,22.5,14.4,32.9,22.1c-4.3-0.4-8.3-1.8-12.3-3.1c-8.9-3-17.5-6.6-25.6-11.3c-0.8-0.5-1.6-0.8-2.7-0.8 c-26.7,1-48.1-9-63.5-31.2c-8-11.5-12-24.5-14-38.2c-0.9-6.1-1.5-12.2-1.5-18.4c0-0.6-0.2-1.2-0.3-1.9 C19.5,91.8,19.5,87.5,19.5,83.2z M48.4,124c0.2-0.1,0.4-0.2,0.6-0.3c0.3,0.4,0.6,0.8,0.8,1.1c13.8,21.8,31.2,39.8,54,52.4 c0.8,0.4,1.6,1.3,2.4,0.8c2.3-1.4,5.1-2.3,5.8-5.6c1.9-8.5,2.3-17.1,0.5-25.7c-2.5-11.6-8.5-20.6-20.1-25c-3-1.1-6-2.2-8.9-3.6 c-20.1-9.1-40.4-18-54.4-36.3c-0.4-0.5-0.9-1.4-1.7-1.1c-0.8,0.3-0.6,1.3-0.5,1.9c1.1,8,0.8,16.1,1.8,24.1 c2.5,19.6,9.3,37.5,21.4,53.2c7.5,9.7,17,16.6,29.1,19.6c4.4,1.1,8.9,1.8,14,1.8C73.2,165.7,60.5,145.1,48.4,124z"></path> </g> </svg></span> Lab grown
                     </label>
                  </div> 
                  <div class="btn-group">
                     <label for="" class="btn btn-primary active">
                        <input type="radio" name="DiamondType" id="" checked="checked" autocomplete="off" value="Natural Diamonds">
                        <span class="ico"><svg id="Layer_1" enable-background="new 0 0 511.995 511.995" height="512" viewBox="0 0 511.995 511.995" width="512" xmlns="http://www.w3.org/2000/svg"><g><path d="m505.898 205.203-62.184-82.912c-4.785-6.381-12.473-10.291-20.582-10.291h-334.272c-8.065 0-15.784 3.891-20.583 10.291l-62.182 82.911c-8.429 11.238-8.286 27.343 1.528 38.467l229.081 259.625c10.224 11.586 28.332 11.618 38.584 0l229.081-259.625c9.907-11.229 9.881-27.331 1.529-38.466zm-12.003 10.797h-125.65l63.675-82.769c65.531 87.376 61.329 81.698 61.975 82.769zm-235.132 277.969c-.849 2.702-4.683 2.703-5.533.001l-82.334-261.97h170.2zm24.763-365.969 54.154 88h-163.367l54.154-88zm18.787 0h113.444l-63.027 81.927zm-143.05 81.927-63.027-81.927h113.444zm-79.19-76.696 63.675 82.769h-125.65c.646-1.071-3.533 4.575 61.975-82.769zm-61.316 98.769h135.367l74.943 238.456c-219.04-248.247-209.649-237.546-210.31-238.456zm264.167 238.456 74.943-238.456h135.367c-.656.905 12.818-14.422-210.31 238.456z"></path><path d="m255.996 72c4.418 0 8-3.582 8-8v-56c0-4.418-3.582-8-8-8s-8 3.582-8 8v56c0 4.418 3.582 8 8 8z"></path><path d="m185.749 84.997c2.746 3.433 7.778 4.023 11.244 1.25 3.45-2.76 4.01-7.795 1.25-11.244l-32-40c-2.76-3.451-7.795-4.008-11.244-1.25-3.45 2.76-4.01 7.795-1.25 11.244z"></path><path d="m314.999 86.247c3.471 2.777 8.502 2.179 11.244-1.25l32-40c2.76-3.449 2.2-8.484-1.25-11.244-3.448-2.758-8.483-2.201-11.244 1.25l-32 40c-2.76 3.449-2.2 8.484 1.25 11.244z"></path></g></svg></span> Single
                     </label>
                     <label for="" class="btn btn-primary">
                        <input type="radio" name="DiamondType" id="" checked="checked" autocomplete="off" value="Natural Diamonds">
                        <span class="ico"><svg height="512" viewBox="0 0 60 53" width="512" xmlns="http://www.w3.org/2000/svg"><g id="Page-1" fill="none" fill-rule="evenodd"><g id="003---Gems" fill="rgb(0,0,0)" fill-rule="nonzero"><path id="Shape" d="m53.894 23.406c-.1875939-.2540684-.4841832-.4045875-.8-.406h-9.182l3.837-4.337c.312615-.3492324.3384617-.8695026.062-1.248l-8-11c-.1879639-.26058965-.4896943-.4149893-.811-.415h-30c-.32006045-.00004451-.62080446.1531156-.809.412l-8 11c-.27685062.378381-.25099041.898922.062 1.248l23 26c.189833.2152504.4629994.3385622.75.3385622s.560167-.1233118.75-.3385622l4.947-5.591 11.538 13.578c.19.2235719.4685986.352423.762.352423s.572-.1288511.762-.352423l17-20c.3046547-.3504631.3238065-.8658946.046-1.238zm3.124 7.594h-6.3l-3.326-6h5.192zm-28.612-23 4.909 9h-18.63l4.909-9zm-16.069 11 2.282 5.39c.1393336.3290416.4436247.558755.7982499.6026094s.7057084-.1048128.921-.39.2620837-.6635678.1227501-.9926094l-1.952-4.61h18.958l-9.481 21.548-5.422-11.961c-.1428052-.3328117-.4543916-.5624043-.8145684-.6002152-.3601767-.0378108-.7126495.1220697-.921456.4179697-.2088066.2958999-.2413112.6815712-.0849756 1.0082455l4.531 10-18.054-20.413zm23.316 0h9.127l-11.4 12.885-.006.007-6.754 7.637zm6.347 29.46-6.632-15.46h13.246zm8.79-15.46h6.048l-12.179 14.328zm-5.683-8 3.326 6h-11.6l5.308-6zm-.071-8h-9.442l-4.909-9h7.806zm-35.527-9h7.806l-4.909 9h-9.442zm24.291 26.427 5.529 12.891-8.3-9.762z"></path><path id="Shape" d="m39 4c.5522847 0 1-.44771525 1-1v-2c0-.55228475-.4477153-1-1-1s-1 .44771525-1 1v2c0 .55228475.4477153 1 1 1z"></path><path id="Shape" d="m43 6c.1971916-.00015304.3899366-.05860276.554-.168l1.846-1.232c.3119934-.19181027.4941736-.5388286.4748821-.90455927-.0192916-.36573067-.2369682-.69165736-.5674094-.84958052-.3304411-.15792317-.7207767-.12257535-1.0174727.09213979l-1.845 1.23c-.3666557.24448513-.5300428.7001723-.4022708 1.12193492.127772.42176263.5165789.71016397.9572708.71006508z"></path><path id="Shape" d="m23.845 47c-.5522847 0-1 .4477153-1 1v2c0 .5522847.4477153 1 1 1s1-.4477153 1-1v-2c0-.5522847-.4477153-1-1-1z"></path><path id="Shape" d="m18 48.23c.1971916-.000153.3899366-.0586028.554-.168l1.844-1.23c.3042178-.195156.4794522-.5392835.4583434-.9001003s-.2352753-.6821632-.5601743-.8405141-.7099611-.1290596-1.0071691.0766144l-1.844 1.232c-.364768.245122-.5267481.6996672-.3992007 1.1202289s.5147249.7085591.9542007.7097711z"></path></g></g></svg></span> Matched
                     </label>
                     <label for="" class="btn btn-primary">
                        <input type="radio" name="DiamondType" id="" checked="checked" autocomplete="off" value="Natural Diamonds">
                        <span class="ico"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 207.11 64.63"><defs><style>.cls-1{fill:#2c3c5b;}.cls-2{fill:none;stroke:#2c3c5b;stroke-miterlimit:10;stroke-width:8px;}.cls-3{fill:#2c3b5b;}</style></defs><path class="cls-1" d="M119.32,104.23c0,6.24,0,1.49,0,7.73,0,2.9,1.77,4.94,4.34,5.12a4.76,4.76,0,0,0,5.26-4.94c.06-3.61,0,2.77,0-.85,0-9,0-6,0-15,0-2.89-1.77-5-4.31-5.19a4.73,4.73,0,0,0-5.3,5c0,6,0,.92,0,6.89Z" transform="translate(-8.44 -71.75)"></path><path class="cls-1" d="M92.93,93.28v21.63a8.9,8.9,0,0,0,1-.27c6.44-2.33,12.87-4.68,19.32-7,.87-.31,1.29-.69,1.22-1.69-.1-1.36,0-2.73-.06-4.09a1.49,1.49,0,0,0-.69-1.14c-6.81-2.52-13.65-5-20.49-7.45A1.32,1.32,0,0,0,92.93,93.28Z" transform="translate(-8.44 -71.75)"></path><path class="cls-1" d="M114.49,95.66c0-2.74,0-5.31,0-7.88a1.43,1.43,0,0,0-.65-1q-10.22-6.33-20.47-12.6c-.07,0-.18,0-.49-.07v2.18c0,3.52,0,7,0,10.55a1.72,1.72,0,0,0,.79,1.34c6.67,2.49,13.36,4.91,20,7.34A4.67,4.67,0,0,0,114.49,95.66Z" transform="translate(-8.44 -71.75)"></path><path class="cls-1" d="M92.85,134.11c.49-.25.83-.38,1.13-.57,6.47-4,12.93-8,19.42-11.91a2,2,0,0,0,1.12-2c-.07-2.34,0-4.67,0-7.17-.51.13-.86.19-1.19.31-6.43,2.33-12.85,4.68-19.29,7a1.5,1.5,0,0,0-1.18,1.71C92.88,125.61,92.85,129.77,92.85,134.11Z" transform="translate(-8.44 -71.75)"></path><path class="cls-1" d="M81.52,104.07c2.15,2.58,4.18,5,6.43,7.69V96.38Z" transform="translate(-8.44 -71.75)"></path><path class="cls-1" d="M82,124.86l5.87,6.85v-9.45Z" transform="translate(-8.44 -71.75)"></path><path class="cls-1" d="M88,76.39,82,83.26,88,85.9Z" transform="translate(-8.44 -71.75)"></path><path class="cls-1" d="M80.85,88v9.32c2-2.38,3.77-4.51,5.67-6.8Z" transform="translate(-8.44 -71.75)"></path><path class="cls-1" d="M80.91,120.08l5.61-2.48-5.61-6.74Z" transform="translate(-8.44 -71.75)"></path><path class="cls-1" d="M169.7,107.11h42.8a3,3,0,0,0,3.05-3h0a3,3,0,0,0-3.05-3H169.7Z" transform="translate(-8.44 -71.75)"></path><rect class="cls-1" x="125.38" y="29.27" width="21.5" height="6.09"></rect><path class="cls-2" d="M185.18,87.09a11.35,11.35,0,0,0-11.35-11.34h0a11.35,11.35,0,0,0-11.35,11.34V121a11.35,11.35,0,0,0,11.35,11.35h0A11.35,11.35,0,0,0,185.18,121" transform="translate(-8.44 -71.75)"></path><circle class="cls-1" cx="176.73" cy="15.34" r="3.99"></circle><circle class="cls-1" cx="176.73" cy="49.48" r="4.01"></circle><polyline class="cls-3" points="29.34 49.38 20.97 45.88 23.58 51.91 28.32 49.83"></polyline><path class="cls-3" d="M39,135.28,32,126.59l-3,6.85a31.47,31.47,0,0,0,22.21-.23c-.75-1.67-3.33-7.67-3.33-7.67Z" transform="translate(-8.44 -71.75)"></path><polygon class="cls-3" points="41.44 45.8 33.4 49.34 38.89 51.65 41.44 45.8"></polygon><polygon class="cls-3" points="37.94 52.99 31.37 50.24 24.36 53.33 30.64 61.06 37.94 52.99"></polygon><polygon class="cls-3" points="47.99 34.81 44.56 42.67 50.28 40.15 47.99 34.81"></polygon><polygon class="cls-3" points="48.88 32.8 51.65 39.25 60.09 32.29 52.11 25.38 48.88 32.8"></polygon><polygon class="cls-3" points="42.05 20.99 31.77 16.4 19.5 21.41 14.99 32.06 20.04 43.74 31.36 48.49 42.39 43.63 47.12 32.79 42.05 20.99"></polygon><polygon class="cls-3" points="14.12 34.11 11.54 40.18 17.9 42.84 14.12 34.11"></polygon><polygon class="cls-3" points="10.38 25.48 2.46 32.57 10.18 39.29 13.24 32.07 10.38 25.48"></polygon><polygon class="cls-3" points="50.75 24.48 44.18 21.86 48 30.77 50.75 24.48"></polygon><polygon class="cls-3" points="38.84 13.51 41.12 18.8 33.84 15.55 38.84 13.51"></polygon><polygon class="cls-3" points="17.39 22.28 11.75 24.58 14.1 30.02 17.39 22.28"></polygon><polygon class="cls-3" points="29.74 15.49 23.24 12.59 20.39 19.31 29.74 15.49"></polygon><polygon class="cls-3" points="37.94 12.14 31.1 3.58 24.14 11.23 31.8 14.65 37.94 12.14"></polygon><path class="cls-3" d="M69,115.25l-7.65-3.17,9.7-8A31.86,31.86,0,0,1,69,115.25Z" transform="translate(-8.44 -71.75)"></path><path class="cls-3" d="M71,104.06l-9.12-7.9,7.17-3A29.8,29.8,0,0,1,71,104.06Z" transform="translate(-8.44 -71.75)"></path><path class="cls-3" d="M47.58,82.81l3.56-7.89a30.14,30.14,0,0,0-11.47-2.15,28.11,28.11,0,0,0-10.9,2c.53,1.43,2.72,7,2.72,7l8.13-8.93Z" transform="translate(-8.44 -71.75)"></path><path class="cls-3" d="M17.56,96.18l-9.09,8.15,9,7.86-7,2.9a32.12,32.12,0,0,1-2-10.53,30.29,30.29,0,0,1,1.85-11.1C12.26,94.21,17.56,96.18,17.56,96.18Z" transform="translate(-8.44 -71.75)"></path><path class="cls-3" d="M22.09,84.09l8,0-3.33,7.87-6.9,2.81-.61-7A5.6,5.6,0,0,0,22.09,84.09Z" transform="translate(-8.44 -71.75)"></path><path class="cls-3" d="M20.84,79.12a30.66,30.66,0,0,1,6.43-3.77L30,82.44l-7.8,0A5.54,5.54,0,0,0,20.84,79.12Z" transform="translate(-8.44 -71.75)"></path><path class="cls-3" d="M13.31,87.3a5.58,5.58,0,0,0,3.34,1.11,5.47,5.47,0,0,0,1-.1l.57,6.4L10.87,92A24.8,24.8,0,0,1,13.31,87.3Z" transform="translate(-8.44 -71.75)"></path><circle class="cls-3" cx="8.2" cy="11.06" r="4.23"></circle><path class="cls-3" d="M57.46,84.06a5.56,5.56,0,0,0,2.46,3.47l-.47,7.08-7.73-3.09-2.84-6.63Z" transform="translate(-8.44 -71.75)"></path><path class="cls-3" d="M57.33,82.46l-8.18.79S52,77,52.62,75.54a32.28,32.28,0,0,1,6.05,3.63A5.55,5.55,0,0,0,57.33,82.46Z" transform="translate(-8.44 -71.75)"></path><path class="cls-3" d="M62.91,88.41a5.57,5.57,0,0,0,3.28-1.07,30.67,30.67,0,0,1,2.28,4.32l-7.42,3.11.43-6.55A5.67,5.67,0,0,0,62.91,88.41Z" transform="translate(-8.44 -71.75)"></path><circle class="cls-3" cx="54.47" cy="11.06" r="4.23"></circle><path class="cls-3" d="M18.72,120.26l.84-6.76,7.7,3.22,3.1,7.14-8.46-.3A5.6,5.6,0,0,0,18.72,120.26Z" transform="translate(-8.44 -71.75)"></path><path class="cls-3" d="M16.65,119.86a5.63,5.63,0,0,0-3.28,1.06,31.47,31.47,0,0,1-2.32-4.34l6.86-2.83-.77,6.14A4,4,0,0,0,16.65,119.86Z" transform="translate(-8.44 -71.75)"></path><path class="cls-3" d="M22.24,125.45c0-.09,0-.19,0-.28l8.46.3-3.26,7.37A30.19,30.19,0,0,1,21,129,5.6,5.6,0,0,0,22.24,125.45Z" transform="translate(-8.44 -71.75)"></path><circle class="cls-3" cx="8.2" cy="53.71" r="4.23"></circle><path class="cls-3" d="M57.33,125.2l-8.43-1.38,3.16-7.23,6.92-3v7.94A5.59,5.59,0,0,0,57.33,125.2Z" transform="translate(-8.44 -71.75)"></path><path class="cls-3" d="M62.91,119.86a5.67,5.67,0,0,0-2.33.51v-6.84s5.59,2.29,7.76,3.21a25.9,25.9,0,0,1-2.23,4.14A5.55,5.55,0,0,0,62.91,119.86Z" transform="translate(-8.44 -71.75)"></path><path class="cls-3" d="M57.5,126.85A5.65,5.65,0,0,0,58.6,129a31.92,31.92,0,0,1-6,3.57l-3-7Z" transform="translate(-8.44 -71.75)"></path><circle class="cls-3" cx="54.47" cy="53.71" r="4.23"></circle></svg></span> Preset
                     </label>
                     
                  </div>                  
               </div>
            </div>
            <div class="col-5">
               <div class="filter-action">
                  <div class="btn-group">
                     <a onclick="ResetAllFilters();" class="reset-btn" style="cursor:pointer;"><i class="fa fa-refresh" aria-hidden="true"></i>Reset Filter</a>
                     <a class="hide-btn btn btn-primary" role="button" data-toggle="collapse" href="#filter" aria-expanded="false" aria-controls="filter">Hide Filters</a>
                  </div>
               </div>
               </div>
            </div>
         </div>
      </div>
        <div id="exTab1">
            <ul class="nav nav-pills">
            </ul>
            <div class="col-xs-12 show-filter"><button class="btn btn-block btn-warning"
                    onclick="toggleFilter(this)">Show Filter</button></div>
            <input type="hidden" id="compare_session" value="">
            <div class="tab-content clearfix" id="filter">
                <div class="tab-pane active" id="1a">
                    <div class="" id="search_div" style="">
                        <form action="javascript:void(0)" type="app-form" method="post" id="form">
                            <input type="hidden" name="dia_type" value="">
                            <input type="hidden" name="sort_id" id="sort_id" value="">
                            <input type="hidden" name="sort_type" id="sort_type" value="">
                            <div class="filter">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="tps_filter">
                                            <ul class="tps_diamond_shapes" id="tps_diamond_shapes"> 
                                                <li>
                                                    <input type="checkbox" name="checkbox[]" value="ROUND">
                                                    <img src="{{ 'round.png' | asset_url }}">
                                                    Round
                                                </li> 
                                                <li>
                                                    <input type="checkbox" name="checkbox[]" value="CUSHION">
                                                    <img src="{{ 'cushion.png' | asset_url }}">
                                                    Cushion
                                                </li> 
                                                <li>
                                                    <input type="checkbox" name="checkbox[]" value="RADIANT">
                                                    <img src="{{ 'radiant.png' | asset_url }}">
                                                    Radiant
                                                </li> 
                                                <li>
                                                    <input type="checkbox" name="checkbox[]" value="ASSCHER">
                                                    <img src="{{ 'asscher.png' | asset_url }}">
                                                    Asscher
                                                </li>
                                                <li>
                                                    <input type="checkbox" name="checkbox[]" value="EMERALD">
                                                    <img src="{{ 'emerald.png' | asset_url }}">
                                                    Emerald
                                                </li> 
                                                <li>
                                                    <input type="checkbox" name="checkbox[]" value="OVAL">
                                                    <img src="{{ 'oval.png' | asset_url }}">
                                                    Oval
                                                </li> 
                                                <li>
                                                    <input type="checkbox" name="checkbox[]" value="PEAR">
                                                    <img src="{{ 'pear.png' | asset_url }}">
                                                    Pear
                                                </li>  
                                                <li>
                                                    <input type="checkbox" name="checkbox[]" value="MARQUISE">
                                                    <img src="{{ 'marquise.png' | asset_url }}">
                                                    Marquise
                                                </li>  
                                                <li>
                                                    <input type="checkbox" name="checkbox[]" value="TRILLIANT">
                                                    <img src="{{ 'trillion.png' | asset_url }}">
                                                    Trillion
                                                </li>  
                                                <li>
                                                    <input type="checkbox" name="checkbox[]" value="Other">
                                                    <img src="{{ 'other.png' | asset_url }}">
                                                    Other
                                                </li>  
                                                <li>
                                                    <input type="checkbox" name="checkbox[]" value="HEART">
                                                    <img src="{{ 'heart.png' | asset_url }}">
                                                    Heart
                                                </li>  
                                            </ul>
                                        </div>                                        
                                        <div class="search_filter_cut price tps_filter">
                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
                                                    <label class="text_color font_size">Carat</label>
                                                </div>
                                                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                                                    <input type="text" id="carat" value="" name="size" />
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 input-style">
                                                        <input type="text" id="carat_from" name="carat_from"
                                                            onkeyup="setSliderFromTo1()"
                                                            class=" pull-left text-design" />
                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 input-style">
                                                        <input type="text" id="carat_to" name="carat_to"
                                                            onkeyup="setSliderFromTo1()"
                                                            class="pull-right text-design" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
                                                    <label class="text_color font_size">Price</label>
                                                </div>

                                                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                                                    <input type="text"  id="price_slider" value="" name="price" />

                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 input-style">
                                                        <input type="text" id="price_from" name="price_from"
                                                            onkeyup="setSliderFromTo()"
                                                            class=" pull-left text-design" />
                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 input-style">
                                                        <input type="text" id="price_to" name="price_to"
                                                            onkeyup="setSliderFromTo()"
                                                            class="pull-right text-design" />
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                        </div>

                                        <div class="search_filter_cut tps_filter">
                                            <div class="col-6">
                                                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
                                                    <label class="text_color font_size">Color</label>
                                                </div>
                                                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                                                    <ul class="brand-list">
                                                        <li>
                                                            <input type="checkbox" name="color[]" value="D">
                                                            <p class="border-box">D</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="color[]" value="E">
                                                            <p class="border-box">E</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="color[]" value="F">
                                                            <p class="border-box">F</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="color[]" value="G">
                                                            <p class="border-box">G</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="color[]" value="H">
                                                            <p class="border-box">H</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="color[]" value="I">
                                                            <p class="border-box">I</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="color[]" value="J">
                                                            <p class="border-box">J</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="color[]" value="K">
                                                            <p class="border-box">K</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="color[]" value="L">
                                                            <p class="border-box">L</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="color[]" value="M">
                                                            <p class="border-box">M</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-6   ">
                                                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                                                    <label class="text_color font_size">Stock#</label>
                                                </div>
                                                <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12"
                                                    style="padding: 10px 0;">
                                                    <input type="text" id="stock" class="form-control" value=""
                                                        name="stock" onkeyup="searchDelay()" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="search_filter_cut tps_filter">
                                            <div class="col-sm-11 col-md-11 col-lg-11 col-xs-12">
                                                <div class="col-sm-1 col-md-1 col-lg-1 col-xs-12">
                                                    <label class="text_color font_size">Clarity</label>
                                                </div>
                                                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                                                    <ul class="brand-list">
                                                        <li>
                                                            <input type="checkbox" name="clarity[]" value="FL">
                                                            <p class="border-box">FL</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="clarity[]" value="IF">
                                                            <p class="border-box">IF</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="clarity[]" value="VVS1">
                                                            <p class="border-box">VVS1</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="clarity[]" value="VVS2">
                                                            <p class="border-box">VVS2</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="clarity[]" value="VS1">
                                                            <p class="border-box">VS1</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="clarity[]" value="VS2">
                                                            <p class="border-box">VS2</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="clarity[]" value="SI1">
                                                            <p class="border-box">SI1</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="clarity[]" value="SI2">
                                                            <p class="border-box">SI2</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="clarity[]" value="SI3">
                                                            <p class="border-box">SI3</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="clarity[]" value="I1">
                                                            <p class="border-box">I1</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="clarity[]" value="I2">
                                                            <p class="border-box">I2</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="clarity[]" value="I3">
                                                            <p class="border-box">I3</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="search_filter_cut tps_filter">
                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
                                                    <label class="text_color font_size">Make</label>
                                                </div>
                                                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12 line-normal">
                                                    <ul class="brand-list">
                                                        <li class="">
                                                            <input type="checkbox" name="ex3" id="ex3" value="3X">
                                                            <p class="border-box">3EX</p>
                                                        </li>
                                                        <li class="">
                                                            <input type="checkbox" name="ex3n" id="ex3n"
                                                                value="3EX-NONE">
                                                            <p class="border-box">3EX-NONE</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
                                                    <label class="text_color font_size">Cut</label>
                                                </div>
                                                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                                                    <ul class="brand-list">
                                                        <li>
                                                            <input type="checkbox" name="cut[]" class="cut_check" value="EX" id="ex_cut">
                                                            <p class="border-box">Excellent</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="cut[]" class="cut_check" value="VG" id="vg_cut">
                                                            <p class="border-box">Very Good</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="cut[]" class="cut_check" value="G" id="gd_cut">
                                                            <p class="border-box">Good</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="cut[]" class="cut_check" value="" id="fr_cut">
                                                            <p class="border-box">Fair</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="search_filter_cut tps_filter">
                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
                                                    <label class="text_color font_size">Polish</label>
                                                </div>
                                                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                                                    <ul class="brand-list">
                                                       <li>
                                                            <input type="checkbox" name="polish[]" class="pol_check" value="EX" id="ex_polish">
                                                            <p class="border-box">Excellent</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="polish[]" class="pol_check" value="VG" id="vg_polish">
                                                            <p class="border-box">Very Good</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="polish[]" class="pol_check" value="G" id="gd_polish">
                                                            <p class="border-box">Good</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="polish[]" class="pol_check" value="" id="fr_polish">
                                                            <p class="border-box">Fair</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
                                                    <label class="text_color font_size">Sym</label>
                                                </div>
                                                <div class="col-sm-10 col-md-10 col-lg-10 col-xs-12">
                                                    <ul class="brand-list">
                                                        <li>
                                                            <input type="checkbox" name="symmetry[]" class="sym_check" value="EX" id="ex_symmetry">
                                                            <p class="border-box">Excellent</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="symmetry[]" class="sym_check" value="VG" id="vg_symmetry">
                                                            <p class="border-box">Very Good</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="symmetry[]" class="sym_check" value="G" id="gd_symmetry">
                                                            <p class="border-box">Good</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="symmetry[]" class="sym_check" value="" id="fr_symmetry">
                                                            <p class="border-box">Fair</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="search_filter_stock tps_filter">
                                            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                                                <div class="col-sm-3 col-md-2 col-lg-2 col-xs-12 pad-r-0">
                                                    <label class="text_color font_size">Certificate By</label>
                                                </div>
                                                <div class="col-sm-9 col-md-9 col-lg-9 col-xs-12 pad-r-0">
                                                    <ul class="brand-list">
                                                        <li>
                                                            <input type="checkbox" name="cert[]" value="GIA" id="cert_GIA">
                                                            <p class="border-box">GIA</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="cert[]" value="AGS" id="cert_AGS">
                                                            <p class="border-box">AGS</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="cert[]" value="GSI" id="cert_GSI">
                                                            <p class="border-box">GSI</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="cert[]" value="IIDGR" id="cert_IIDGR">
                                                            <p class="border-box">IIDGR</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="cert[]" value="EGLUSA" id="cert_EGLUSA">
                                                            <p class="border-box">EGLUSA</p>
                                                        </li>
                                                        <li>
                                                            <input type="checkbox" name="cert[]" value="OTHER" id="cert_OTHER">
                                                            <p class="border-box">Non-Certified</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="more_filter" style="display: none;">
                                            <div class="search_filter_cut tps_filter">
                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                                                        <label class="text_color font_size">Table%</label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                                                        <input type="text" class="form-control" id="table_per_from"
                                                            placeholder="From" name="table_per_from"
                                                            onkeydown="inputValue(event,'table_per',0,'Table%')">
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                                                        <input type="text" class="form-control" id="table_per_to"
                                                            placeholder="To" name="table_per_to"
                                                            onkeydown="inputValue(event,'table_per',1,'Table%')">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                                                        <label class="text_color font_size">Depth%</label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                                                        <input type="text" class="form-control" id="depth_per_from"
                                                            placeholder="From" name="depth_per_from"
                                                            onkeydown="inputValue(event,'depth_per',0,'Depth%')">
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                                                        <input type="text" class="form-control" id="depth_per_to"
                                                            placeholder="To" name="depth_per_to"
                                                            onkeydown="inputValue(event,'depth_per',1,'Depth%')">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="search_filter_cut tps_filter">
                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                                                        <label class="text_color font_size">Cr. Angle</label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                                                        <input type="text" class="form-control" id="cr_angle_from"
                                                            placeholder="From" name="cr_angle_from"
                                                            onkeydown="inputValue(event,'cr_angle',0,'Cr. Angle')">
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                                                        <input type="text" class="form-control" id="cr_angle_to"
                                                            placeholder="To" name="cr_angle_to"
                                                            onkeydown="inputValue(event,'cr_angle',1,'Cr. Angle')">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                                                        <label class="text_color font_size">Cr. Height</label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                                                        <input type="text" class="form-control" id="cr_height_from"
                                                            placeholder="From" name="cr_height_from"
                                                            onkeydown="inputValue(event,'cr_height',0,'Cr. Height')">
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                                                        <input type="text" class="form-control" id="cr_height_to"
                                                            placeholder="To" name="cr_height_to"
                                                            onkeydown="inputValue(event,'cr_height',1,'Cr. Height')">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="search_filter_cut tps_filter">
                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                                                        <label class="text_color font_size">Pav. Angle</label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                                                        <input type="text" class="form-control" id="pav_angle_from"
                                                            placeholder="From" name="pav_angle_from"
                                                            onkeydown="inputValue(event,'pav_angle',0,'Pav. Angle')">
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                                                        <input type="text" class="form-control" id="pav_angle_to"
                                                            placeholder="To" name="pav_angle_to"
                                                            onkeydown="inputValue(event,'pav_angle',1,'Pav. Angle')">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                                                        <label class="text_color font_size">Pav. Height</label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                                                        <input type="text" class="form-control" id="pav_height_from"
                                                            placeholder="From" name="pav_height_from"
                                                            onkeydown="inputValue(event,'pav_height',0,'Pav. Height')">
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                                                        <input type="text" class="form-control" id="pav_height_to"
                                                            placeholder="To" name="pav_height_to"
                                                            onkeydown="inputValue(event,'pav_height',1,'Pav. Height')">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="search_filter_cut tps_filter">
                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                                                        <label class="text_color font_size">Girdle%</label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                                                        <input type="text" class="form-control" id="girdle_per_from"
                                                            placeholder="From" name="girdle_per_from"
                                                            onkeydown="inputValue(event,'girdle_per',0,'Girdle%')">
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                                                        <input type="text" class="form-control" id="girdle_per_to"
                                                            placeholder="To" name="girdle_per_to"
                                                            onkeydown="inputValue(event,'girdle_per',1,'Girdle%')">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
                                                        <label class="text_color font_size">Star Length</label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                                                        <input type="text" class="form-control" id="star_len_from"
                                                            placeholder="From" name="star_len_from"
                                                            onkeydown="inputValue(event,'star_len',0,'Star Length')">
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                                                        <input type="text" class="form-control" id="star_len_to"
                                                            placeholder="To" name="star_len_to"
                                                            onkeydown="inputValue(event,'star_len',1,'Star Length')">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="search-btn">
                                <div class="hide_show"> <a href="javascript:void(0)" class="btn">
                                        <span id="show_advance" class="bg_color" onclick="show_search()">
                                            <i class="plus-toggle fa fa-plus"></i> Show Advance Filter</span> </a>
                                </div>
                                <a href="javascript:void(0)" class="btn bg_color" type="button" onclick="resetForm()"><i
                                        class="fa fa-undo"></i> Reset</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-pane" id="2a">
                    <section class="">
                        <div class="filter">
                            <h2 class="section-padding" style="margin: 0 20px;">Coming soon</h2>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="diamond" id="section_dia">
    <div class="table-design">
        <div class="container-fluid">
            <div class="row" style="padding-left: 15px;padding-right: 15px;">
                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12"></div>

                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 pad-lr-0">
                </div>

                <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 pull-right">

                </div>
            </div>

            <input type="hidden" name="per_page"  id="per_page" value="50" onchange="submitForm()">
            <div class="row" style="padding: 0 0 15px;">
                <div class="col-md-12">
                    <div class="col-sm-4 col-md-3 col-lg-2 col-xs-4">
                        <form action="" id="per_page_form">
                            <span>Show <select name="per_pages" id="per_pages"  class="input-sm" onchange="submitForm()">
                                    <option value="50 selected">50</option>
                                    <option value="60">60</option>
                                    <option value="100">100</option>
                                    <option value="200" >200</option>
                                    <option value="500">500</option>
                                    <option value="1000">1000</option>
                                </select> entries</span>
                        </form>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-2 col-xs-4 grid-list">
                        <i class="fa fa-list active" title="List View" data-toggle="tooltip">
                            <input type="checkbox" name="view_as[]" class="view_as" value="list" id="view_as_list">
                        </i>
                        <i class="fa fa-th" title="Image View" data-toggle="tooltip">
                            <input type="checkbox" name="view_as[]" class="view_as" value="grid" id="view_as_grid">
                        </i>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-2 col-xs-4 pull-right">
                        <p class="total_records"><span id="total_records"></span> <label> Stones Found</label></p>
                    </div>
                </div>
            </div>
            <div class="dataTables_scroll">
                <div class="panel-body table-responsive1">
                    <div id="list_diamond" style="height: 500px; overflow-y: auto;">
                        <table id="example" class="box-shadow no-footer nowrap table table-bordered table-condensed table-responsive tablesorter">
                            <thead class="">
                                <tr class="bg_color">
                                    <th class=""><input type="checkbox" id="checkAlls" class="th_checkbox"></th>
                                    <th class="">Action</th>
                                    <th class="">Stock#</th>
                                    <th class="">Shape</th>
                                    <th class="">Cts</th>
                                    <th class="">Color</th>
                                    <th class="">Clarity</th>
                                    <th class="">Cut</th>
                                    <th class="">Polish</th>
                                    <th class="">Symmetry</th>
                                    <th class="">Fluor</th>
                                    <th class="">Depth%</th>
                                    <th class="">Table%</th>
                                    <th class="">Price/Ct</th>
                                    <th class="">Lab</th>
                                    <th class="">Measurements</th>
                                </tr>
                            </thead>
                            <tbody id="add_data" style="">
                            </tbody>
                        </table>
                    </div>

                    <div id="grid_diamond" style="height: 1136px; overflow-y: auto;">
                    </div>

                    <!-- <div id="pagination-links" class="dataTables_paginate paging_simple_numbers"></div> -->
                    <div id="pagination-div-id" class="dataTables_paginate paging_simple_numbers"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#cartModal">Open Modal</button> -->
<!-- Modal -->
<div class="modal fade" id="cartModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content" style="width: 67%; text-align: center;">
                    <div class="modal-body">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="80px" height="80px">
                            <radialGradient id="c0yjGprCnv9Gl20e9Vf6Ca" cx="32.5" cy="31.5" r="30.516"
                                gradientUnits="userSpaceOnUse" spreadMethod="reflect">
                                <stop offset="0" stop-color="#afeeff"></stop>
                                <stop offset=".193" stop-color="#bbf1ff"></stop>
                                <stop offset=".703" stop-color="#d7f8ff"></stop>
                                <stop offset="1" stop-color="#e1faff"></stop>
                            </radialGradient>
                            <path fill="url(#c0yjGprCnv9Gl20e9Vf6Ca)"
                                d="M59,20h1.5c2.168,0,3.892-1.998,3.422-4.243C63.58,14.122,62.056,13,60.385,13L53,13 c-1.105,0-2-0.895-2-2c0-1.105,0.895-2,2-2h3.385c1.67,0,3.195-1.122,3.537-2.757C60.392,3.998,58.668,2,56.5,2H34.006H32.5h-24 C6.575,2,5,3.575,5,5.5S6.575,9,8.5,9H10c1.105,0,2,0.895,2,2c0,1.105-0.895,2-2,2l-5.385,0c-1.67,0-3.195,1.122-3.537,2.757 C0.608,18.002,2.332,20,4.5,20H18v12L4.615,32c-1.67,0-3.195,1.122-3.537,2.757C0.608,37.002,2.332,39,4.5,39H5c1.105,0,2,0.895,2,2 c0,1.105-0.895,2-2,2H4.5c-2.168,0-3.892,1.998-3.422,4.243C1.42,48.878,2.945,50,4.615,50H10c1.105,0,2,0.895,2,2 c0,1.105-0.895,2-2,2l-1.385,0c-1.67,0-3.195,1.122-3.537,2.757C4.608,59.002,6.332,61,8.5,61h22.494H32.5h23 c1.925,0,3.5-1.575,3.5-3.5S57.425,54,55.5,54H55c-1.105,0-2-0.895-2-2c0-1.105,0.895-2,2-2h4.385c1.67,0,3.195-1.122,3.537-2.757 C63.392,44.998,61.668,43,59.5,43H47V31h12.385c1.67,0,3.195-1.122,3.537-2.757C63.392,25.998,61.668,24,59.5,24H59 c-1.105,0-2-0.895-2-2C57,20.895,57.895,20,59,20z">
                            </path>
                            <linearGradient id="c0yjGprCnv9Gl20e9Vf6Cb" x1="32" x2="32" y1="6" y2="56"
                                gradientUnits="userSpaceOnUse" spreadMethod="reflect">
                                <stop offset="0" stop-color="#42d778"></stop>
                                <stop offset=".996" stop-color="#34b171"></stop>
                                <stop offset="1" stop-color="#34b171"></stop>
                            </linearGradient>
                            <path fill="url(#c0yjGprCnv9Gl20e9Vf6Cb)"
                                d="M57,31c0,13.805-11.195,25-25,25S7,44.805,7,31S18.195,6,32,6S57,17.195,57,31z"></path>
                            <path fill="#fff"
                                d="M42.695,21.733L27.5,36.946l-5.235-5.22c-0.977-0.974-2.558-0.973-3.533,0.003l0,0 c-0.977,0.977-0.976,2.562,0.002,3.538l7.002,6.985c0.977,0.975,2.559,0.973,3.534-0.003l16.962-16.982 c0.975-0.977,0.975-2.559-0.001-3.535l0,0C45.254,20.756,43.671,20.756,42.695,21.733z">
                            </path>
                        </svg>
                        </br>
                        <h2>Successful</h2>
                        <p>Item successfully added to cart !</p>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-default" href="/cart">Go to Cart</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
</div>

<div class="modal fade" id="quick_detail_modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 0;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="padding: 15px 15px 0">
                <table
                    class="box-shadow no-footer nowrap table table-bordered table-condensed table-responsive tablesorter">
                    <tbody id="quick_detail_tbody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% schema %}
   {
     "name": "Amipi Diamond",
     "target": "section",
     "settings": []
   }
 {% endschema %}